:root {
    --Primary: #778899;
    --Secondary: #CFB53B;
    --Tertiary: #D3D3D3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-weight: bold;
    font-family: garamond, helvetica, sans-serif;
    font-size: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--Secondary) ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    color: var(--Tertiary);
    color:	#F0FFFF;
}
body:not(header) {
    background-image: url("../images/mountain-svgrepo-com.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 500px;
}
header {
    display: flex;
    justify-content: space-between;
    background: var(--Primary);
    border-bottom: 5px groove var(--Tertiary)
}
header h1 {
    padding: 20px;
}
header nav {
    margin: 25px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul li:not(:last-child) {
    border-right: 1px solid var(--Tertiary);
}
header nav ul a {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: var(--Tertiary);
}
section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    }
section h1 {
    font-size: 38px;
    font-style: italic;
    width: 100%;
    text-align: center;
    padding: 15px;
}
section:not(.contact-info) {
    border-bottom: 3px solid var(--Tertiary);
}
section div {
    width: 400px;
    margin: 20px;
}
section img {
    width: 400px;
    border: 3px groove var(--Tertiary);
}
footer {
    padding: 20px;
    font-size: 12px;
    color: var(--Secondary);
    background-color: var(--Tertiary);
}
