:root {
    --Primary: #778899;
    --Secondary: #C5B358;
    --Tertiary: #D3D3D3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--Secondary) ;
}
header {
    display: flex;
    justify-content: space-between;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: var(--Tertiary);
    background: var(--Primary);
    border-bottom: 5px groove var(--Tertiary)
}
header h1 {
    padding: 20px;
}
header nav {
    margin: 25px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul li:not(:last-child) {
    border-right: 1px solid var(--Tertiary);
}
header nav ul a {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: var(--Tertiary);
}