/*general*/
:root {
    --Primary: #778899;
    --Secondary: #CFB53B;
    --Tertiary: #D3D3D3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    font-weight: bold;
    font-family: garamond, helvetica, sans-serif;
    font-size: 20px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--Secondary) ;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.85);
    color: var(--Tertiary);
    color:	#F0FFFF;
    background-image: url(../images/mountain-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 500px;
}

/*header styles*/
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--Primary);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    border-bottom: 5px groove var(--Tertiary);
    z-index: 9999;
}
header h1 {
    padding: 20px;
}
header nav {
    margin: 25px;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
header nav ul li:not(:last-child) {
    border-right: 1px solid var(--Tertiary);
}
header nav ul a {
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    color: var(--Tertiary);
}
header nav ul a:hover {
    color: var(--Secondary);
}

/*sections styling */
section {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    }
section h1 {
    font-size: 38px;
    font-style: italic;
    width: 100%;
    text-align: center;
    padding: 15px;
}
section > * {
    border-radius: 10px;
}
section:not(.contact-info) {
    border-bottom: 3px solid var(--Tertiary);
}
section article {
    width: 400px;
    margin: 20px;
}
section img {
    margin: 3px;
    border: 5px inset var(--Tertiary);
}
footer {
    padding: 20px;
    font-size: 8px;
    color: black;
    background-color: var(--Tertiary);
    border-top: 5px groove var(--Tertiary);
    text-shadow: none;
}
.example {
    background-image: url(https://via.placeholder.com/400/FF0000/FFFFF?text=ProjectPlaceholder);
    display: block;
    margin: 10px;
    width: 400px;
    height: 400px;
    text-decoration: none;
    text-align: center;
    padding: 70px 0;
    font-size: 38px;
    color: yellow;
    transition:linear .35s;
    opacity: .7;
}
.firstex {
    background-image: url("../images/run-buddy.jpg");
    margin: 0 auto;
    width: 1220px;
}
.example:hover {
    transform: scale(1.1);
    opacity: 1;
    z-index: 9998;
}
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
    }
    header nav ul {
        flex-direction: column;
    }
    header nav ul li {
        padding-bottom: 10px;
        border-style: none;
    }